<!doctype html>
<html lang="en">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        p{
            padding: 10px;
            font-size : 16px;
            color : "#252525";
        }

        p1{
            padding: 10px;
            font-size : 18px;
            font-weight : bold;
            color : "#252525";
        }
    </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" >

    <title>Cross Domain Recommender</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="https://rockcallahan.pythonanywhere.com">Cross Domain recommender</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://rockcallahan.pythonanywhere.com/privacy">Privacy</a>
      </li>
    </ul>
  </div>-->
</nav>

<p1>
Privacy Policy
</p1>
<br/>
<p>Last updated: (20/04/2018)<br/><br/>
We operate a site https://rockcallahan.pythonanywhere.com . This page informs you about our policies regarding the collection, use and disclosure of personal information we recieve from Users of this site.
We use your private data just for providing accurate recommendations based on the data. By using this Site, you agree to the collection and use of information in accordance to our policy.
</p><br/><br/>
<p1>Information Collection and Use</p1>
<br/>
<p>While using our site, we don't ask you to provide us with any personally identifiable information. Facebook login is required to use this website but no such login data is stored, read, analyzed or sold in any way possible.
</p><br/><br/>
<p1>Log Data</p1>
<br/>
<p>
This Log Data includes information regarding your Facebook Likes. It don't access your other Facebook Data. In addition, we don't store this data in any form or use it for business that use analytics or tracking services in websites or apps or sell it.
<br/>This Data is strictly used for research purpose only. We don't use your Personal Information to contact you with newsletters, marketing or promotional materials.
</p>
</body>